<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <!--        <add key="local-cache" value="C:\Users\Daniel\.nuget\packages" />-->
        <add key="NuGet" value="https://api.nuget.org/v3/index.json"/>
<!--        <add key="LiaraMirror" value="https://package-mirror.liara.ir/repository/nuget/index.json"/>-->

        <!--        <add key="LiaraMirror" value="https://package-mirror.liara.ir/repository/nuget/index.json"/>-->
    </packageSources>
</configuration>